body {
  background-color: #2c3e50;
  color: white;
}
.headTitle {
  text-align: center;
  font-size: 100px;
}

button {
  cursor: pointer;
  font-size: 13px;
  color: #fe2ef7;
  background-color: #d7df01;
}
.js-clock {
  text-align: right;
  font-size: 20px;
}
.js-weather {
  display: block;
  text-align: right;
  font-size: 40px;
}
h4 {
  text-align: center;
  font-size: 20px;
}
.ulCenter {
  text-align: center;
}
ul {
  display: inline-block;
}
ul li {
  text-align: left;
}
.js-toDoForm {
  text-align: center;
}

.js-form {
  text-align: center;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

h1 {
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
